[submodule "lua/nvim"]
	path = lua/nvim
	url = https://github.com/glepnir/nvim.git
[submodule "go/etcd"]
	path = go/etcd
	url = https://github.com/etcd-io/etcd.git
[submodule "go/go-datastructures"]
	path = go/go-datastructures
	url = https://github.com/Workiva/go-datastructures.git
